@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #0b0c10;
  color: #fff;
  font-family: "Google Sans", sans-serif;
  overflow-x: hidden;
}

.page1,
.page2,
.page3 {
  width: 100%;
  height: 100vh;
  background: #000;
}

.page2 {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  background: yellow;
}

.page2 h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40vw;
}