@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #0b0c10;
  color: #fff;
  font-family: "Google Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
}

.main {
  background: rgba(0, 153, 255, 0.068);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
}

.box1,
.box2,
.box3 {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

.box1 {
  background: royalblue;
}

.box2 {
  background: orangered;
}

.box3 {
  background: green;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-radius: 8px;
  background: rgb(1, 1, 60);
}

.nav h2 {
  font-weight: 700;
  font-size: 1.8rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.links h4 {
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
}

.links h4:hover {
  text-decoration: underline;
}

p {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 1.8rem;
  font-weight: 500;
}

:root {
  /* Scrollbar size */
  --scrollbar-size: 6px;
  --scrollbar-radius: 999px;

  /* Track */
  --scrollbar-track: #0b0c10;

  /* Thumb (main accent colors) */
  --scrollbar-thumb: linear-gradient(180deg,
      #c9c9cd,
      #8f899a,
      #727c87);

  /* Effects */
  --scrollbar-shadow: 0 3px 8px rgba(0, 0, 0, 0.45);
}

/* Base */
::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-radius);
  box-shadow: var(--scrollbar-shadow);
}